<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{lib/jquery-1.8.0.min.js}"></script>
    <script type="text/javascript">
    	$(function(){
    		alert("加载成功");
    	});
    </script>
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <h3 th:text="'Hello, ' + ${name} + '!'"></h3>
    <input type="checkbox" th:title="${name}" th:text="${name}"/>
     <input type="button" th:lable="${name}" th:value="${name}"/>
     <input type="text" th:value="${name}"/>
     <input type="password" th:text="${name}"/>
</body>
</html>
